html{
    background-color: #035E5E;
}

#rickNMortyBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 5px solid white;
    border-radius: 15%;
    grid-gap: 5px;
}

#rickNMortyBox>div{
    display: flex; 
    flex-direction: column;
    color:white; 
    border: 2px solid white;
    border-radius: 10%;
}

#vector {
    position:absolute; 
    right:0; 
    bottom: 0; 
    max-width: 200px;
}

h1{
    color:white; 
    text-align: center;
}